.left{

  background-color: #F1F1F1;
  float: left;
  position: relative;
}

.right{

  background-color: #F1F1F1;
  float: right;
  position: relative;
}

.center{

  background-color: #F1F1F1;
  align-content: center;
}

.content{
  float: middle;
}

.links{
  float:right;
}

p {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}
